.about-section {
  width: 70%;
  display: flex;
  justify-content: space-between;
  line-height: 23px;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 60%;
    @include media(">=phone", "<lgphone") {
      width: 100%;
      font-size: 12px;
      line-height: 20px;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      line-height: 20px;
      @include media(">=phone", "<lgphone") {
        font-size: 23px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 23px;
      }
    }
    .about-facts {
      margin-left: 10px;
      font-size: 14px;
      line-height: 22px;
      @include media(">=phone", "<lgphone") {
        text-align: left;
        font-size: 11px;
        line-height: 15px;
        margin-left: 0;
      }
      @include media(">=lgphone", "<tablet") {
        text-align: left;
        font-size: 11px;
        line-height: 15px;
        margin-left: 0;
      }
      @include media(">=tablet", "<desktop") {
        text-align: left;
      }
    }
  }
  .image-wrapper {
    width: 400px;
    margin-left: 20px;
    @include media(">=phone", "<lgphone") {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
      display: flex;
      justify-content: space-between; 
    }
    //margin-right: 70px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;
    .img-profile-wrap {
      height: 300px;
      width: 300px;
      @include media(">=phone", "<desktop") {
        height: 20vw;
        width: auto;
        transform: none;
      }
    }
    .img-profile {
      height: 300px;
      z-index: 3;
      @include media(">=phone", "<lgphone") {
        height: 20vw;
      }
      @include media(">=lgphone", "<tablet") {
        height: 20vw;
      }
      @include media(">=tablet", "<desktop") {
        height: 20vw;
      }

    }
    .img-profile-desc {
      width: 200px;
      transform: translate(50px, -120px);
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      /* transition effect. not necessary */
      transition: opacity .2s, visibility .2s;
    }
    
    .img-profile-wrap:hover .img-profile-desc {
      @include media(">=desktop") {
        visibility: visible;
        opacity: 1;
      } 
    }
    .img-profile-wrap:hover .img-profile {
      @include media(">=desktop") {
        opacity: 70%;
        filter: brightness(80%);;
      } 
    }

    .img-plant-wrap {
      height: 200px;
      transform: translate(75%, -70%);
      @include media(">=phone", "<desktop") {
        height: 20vw;
        transform: none;
      }
    }

    .img-plant {
      height: 200px;
      //transform: translate(140%, -80%);
      @include media(">=phone", "<lgphone") {
        height: 20vw;
        transform: none;
      }
      @include media(">=lgphone", "<tablet") {
        height: 20vw;
        transform: none;
      }
      @include media(">=tablet", "<desktop") {
        height: 20vw;
        transform: none;
      }
    }
    .img-plant-desc {
      width: 150px;
      transform: translate(25px, -140px);
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      /* transition effect. not necessary */
      transition: opacity .2s, visibility .2s;
    }
    
    .img-plant-wrap:hover .img-plant-desc {
      @include media(">=desktop") {
        visibility: visible;
        opacity: 1;
      } 
    }
    .img-plant-wrap:hover .img-plant {
      @include media(">=desktop") {
        opacity: 70%;
        filter: brightness(50%);;
      } 
    }

    .img-city-wrap {
      height: 250px;
      transform: translate(25%, -80%);
      @include media(">=phone", "<desktop") {
        height: 20vw;
        transform: none;
      }
    }

    .img-city {
      height: 250px; 
      z-index: -1;
      @include media(">=phone", "<lgphone") {
        height: 20vw;
        transform: none;
      }
      @include media(">=lgphone", "<tablet") {
        height: 20vw;
        transform: none;
      }
      @include media(">=tablet", "<desktop") {
        height: 20vw;
        transform: none;
      }
    }

    .img-city-desc {
      width: 180px;
      transform: translate(35px, -200px);
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      /* transition effect. not necessary */
      transition: opacity .2s, visibility .2s;
    }

    .img-city-wrap:hover .img-city-desc {
      @include media(">=desktop") {
        visibility: visible;
        opacity: 1;
      } 
    }
    .img-city-wrap:hover .img-city {
      @include media(">=desktop") {
        opacity: 70%;
        filter: brightness(50%);;
      } 
    }

    @include media(">=phone", "<lgphone") {
      height: 60vh;
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
  }
}
