.about-section {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  line-height: 23px;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 60%;
    @include media(">=phone", "<lgphone") {
      width: 100%;
      font-size: 12px;
      line-height: 20px;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      line-height: 20px;
      @include media(">=phone", "<lgphone") {
        font-size: 23px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 23px;
      }
    }
    .about-facts {
      margin-left: 10px;
      font-size: 14px;
      line-height: 22px;
      @include media(">=phone", "<lgphone") {
        text-align: left;
        font-size: 11px;
        line-height: 15px;
        margin-left: 0;
      }
      @include media(">=lgphone", "<tablet") {
        text-align: left;
        font-size: 11px;
        line-height: 15px;
        margin-left: 0;
      }
      @include media(">=tablet", "<desktop") {
        text-align: left;
      }
    }
  }
  .image-wrapper {
    width: 50%;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      height: 60vh;
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
  }
}
