#ProjectCard {
  width: 280px;
  height: 300px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(34, 34, 34);
  border: 10px solid rgb(34, 34, 34);
}

.card_top {
  height: 205px;
  width: 100%;
  border-radius: 10px;
  /* background-color: #2e6488; */
}

#ProjectCard:hover {
  transform: translateY(-10px);
  transition: transform ease-in 0.2s;
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  /* transition: transform 0.6s; */
  transform-style: preserve-3d;
  background-color: rgb(34, 34, 34);
}

/* MOBILE HOVER TEST */
@media not all and (pointer: coarse) {
  .card_inner:hover {
    transform: none;
  }
}

/* .card_tags {
  display: flex;
  justify-items: left;
  margin-bottom: 20px;
  /* min-height: 80px; 
} */

.card_tags ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.tag {
  color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align: center;
  /* outline: 5px white;
      border-radius: 4px;
      outline-offset: -10px; */
  border-radius: 10px;
  /* font-family: "Nunito", sans-serif; */
  font-weight: 400;
  font-size: 12px;
  background-color: #e79f04;
  border: 2px solid rgb(255, 208, 0);
}

.card_desc p {
  /* font-family: "Nunito", sans-serif; */
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  margin-top: 30px;
  color: rgb(196, 196, 196);
  margin-bottom: 0 !important;
}

.card_desc b {
  color: rgb(255, 255, 255);
}

.card_link {
  height: 30px;
  /* text-align: right; */
  /* width: 350px; */
  display: flex;
  background-color: rgb(34, 34, 34);
}

.card_link .date {
  /* font-family: "Nunito", sans-serif; */
  font-weight: 500;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.452);
  margin-left: 10px;
}

.spacer {
  flex: 1;
}
.card_link a img {
  height: 20px;
  margin-right: 10px;
}

.card_link a img:hover {
  opacity: 70%;
}

.card_body {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.card_title {
  /* width: 350px; */
  /* height: 70px; */
  background-color:  rgb(34, 34, 34);
  display: flex;
  align-items: center;
}

.card_title h2 {
  /* font-family: "Nunito", sans-serif; */
  font-weight: 400;
  font-size: 25px;
  color: rgba(255, 208, 0, 0.692);
  margin-left: auto;
  margin-right: 10px;
  margin-top: 5px;
}

.card_front {
  background-color: rgb(34, 34, 34);
}


@media (max-width: 992px) {
  #ProjectCard {
    width: 250px;
    height: 280px;
    margin-top: 5vh;
  }

  .card_tags {
    margin-bottom: 10px;
  }

  .card_body {
    padding-top: 10px;
  }
  .card_top,
  .card_body {
    height: 190px;
  }
  .card_link {
    height: 30px;
  }
  .card_desc p {
    font-size: 14px;
  }
  .card_desc small {
    font-size: 14px !important;
  }

  .card_title h2 {
    font-size: 22px;
  }

  .tag {
    font-size: 9px;
    margin-bottom: 2px;
    margin-right: 3px;
  }
}


@media (max-width: 768px) {
  #ProjectCard {
    width: 240px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card_top,
  .card_body {
    height: 160px;
  }
  .card_link {
    height: 30px;
  }
  .card_desc p {
    font-size: 12px;
  }
  .card_title h2 {
    font-size: 15px;
  }
  .tag {
    font-size: 9px;
    margin-bottom: 2px;
    margin-right: 3px;
  }
  .card_link .date {
    font-size: 12px;
  }
}
